footer {
  background-color: var(--main-color);
  margin-block: 4rem 3rem;
}

.fleche {
  width: 10%;
  position: fixed;
  bottom: 0.5rem;
  right: 1rem;
  opacity: 20%;
  transition: all linear 200ms;
  &:hover {
    opacity: 100%;
    border-radius: 30px;
    background-color: var(--main-color);
  }
}

.main__footer__sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 1rem;
  gap: 1rem;
}

.main__footer__section a {
  font-family: "DINdong";
  font-size: 0.8rem;
  &:hover {
    text-decoration: underline;
  }
}

.main__footer__section__copyright {
  display: flex;
  justify-content: center;
}

.main__footer__section__copyright p {
  font-size: 1rem;
}

@media screen and (max-width: 380px){
  .main__footer__section__copyright p {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 600px) {
  .fleche {
    width: 5%;
    bottom: 1rem;
    right: 3rem;
  }

  .main__footer__section__copyright p {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1000px) {
  .main__footer__section__copyright p {
    font-size: 0.5rem;
  }
  .fleche { 
    width: 4%;
    bottom: 1rem;
    right: 2rem;
}
}