footer {
  background-color: var(--main-color);
  display: flex;
  margin-block: 4rem 3rem;
}

.main__footer {
  background-color: var(--main-color);
  padding-inline: var(--h1-sz);
  padding-top: 1rem;
  padding-bottom: 4rem;
  display: flex;
    flex-direction: column;
    width: 100%;
  &__sections {
    display: flex;
    justify-content: space-between;
  }
  &__section {
    /*&__socials {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding-block-start: 2rem;
    }*/
    //scroll-behavior: smooth;
    &__copyright {
    display: flex;
    justify-content: end;
    p {
      font-size: var(--h3-sz);
    }
    }
  }
  
}

.main__footer__section__copyright p {
  font-size: var(--h3-sz);
  position: relative;
}

.fleche {
  width: 5%;
  position: fixed;
  bottom: 1rem;
  right: 3rem;
}