header {
  background-color: var(--main-color);
  font-family: "Bricolage Grotesque";
  padding-inline: var(--h1-sz);
}

.star_fly {
  position: absolute;
  z-index: -1;
  width: 40%;
  right: -20%;
  top: -35%;
}

.main__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  &_logo {
    align-self: start;
    margin-block-start: 1rem;
  }
}

.main__nav_list {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-block-start: 1rem;
  &_item {
    font-family: "DINdong";
    text-transform: uppercase;
    color: var(--txt-color);
    margin-block-end: 0.4rem;
    margin-inline: 0.5rem;
    padding-block: 0.2rem;
    padding-inline: 0.8rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    background-color: var(--main-color);
    &:hover {
      background-color: var(--bg-color);
      transition: all 250ms;
    }
  }
}
/*.main__nav {
  display: flex;
  justify-content: space-between;
  &_logo {
    padding-block: var(--h3-sz);
  }
  &_list {
    display: flex;
    //display: none;
    gap: var(--h3-sz);
    justify-content: flex-end;
    align-items: center;
  }
}

.btn_menu {
  padding: var(--btn-pd);
  border: var(--btn-bd);
  border-radius: 5px;
}

/*.main__nav_item li {
  &:hover {
    background-color: var(--pink-color);
    border: var(--btn-bdactivated);
    transition: all 200ms linear;
    a {
      color: var(--main-color);
    }
  }
}*/


/*.btn_contact {
  padding: var(--btn-pd);
  border: var(--btn-bd);
  //border-radius: var(--btn-rad); //ne fonctionne pas mais je ne sais pas pourquoi
  border-radius: 5px;
  &:hover {
    background-color: var(--pink-color);
    border: var(--btn-bdactivated);
    transition: all 200ms linear;
    a {
      color: var(--main-color);
    }
  }
}*/

/*.main__nav a {
  color: var(--text-color);
  font-size: var(--h2-sz);
}*/