header {
  background-color: var(--main-color);
  font-family: "Bricolage Grotesque";
  padding-inline: var(--h1-sz);
}

.star_fly {
  //position: absolute;
  position: fixed;
  z-index: -1;
  width: 90%;
  left: 5%;
  top: 25%;
  overflow-x: hidden;
  opacity: 25%

}

.sec__nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  &_logo {
    align-self: start;
    max-width: 45%;
    margin-block-start: 1rem;
  }
}

.sec__nav_list {
  display: none;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  margin-block-start: 1rem;
  &_item {
    font-family: "DINdong";
    text-transform: uppercase;
    color: var(--txt-color);
    margin-block-end: 0.4rem;
    margin-inline: 0.5rem;
    padding-block: 0.2rem;
    padding-inline: 0.8rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    background-color: var(--main-color);
    &:hover {
      background-color: var(--bg-color);
      transition: all 250ms;
    }
  }
}

// media query tests

@media screen and (min-width: 600px) {
  .hero {
    &__title {
      font-size: 4rem;
    }
    &__para {
      font-size: 3.5rem;
      max-width: 65%;
      &-second { //ça ne marche pas, le paragraphe n'apparaît pas
        display: block;
      }
    }
  }

.sec__nav_list {
  display: flex; //ça marche
  }

.content_section {
  width: 75%;
  justify-self: end;
  p {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
}

}