h1 {
  font-family: "DINdong";
  writing-mode: vertical-lr;
  direction: rtl;
  transform: rotate(180deg);
  //text-orientation: sideways-right;
  //padding-inline-end: var(--h2-sz);
  margin-block-start: 2rem;
  //margin-inline-end: 3.5rem;
  margin-inline: 0;
  padding-inline: 0;
  justify-self: end;
  font-size: var(--h1-sz);
}

h2, h3 {
  font-family: "Bricolage Grotesque";
  color: var(--txt-color);
}

h2 {
  background-color: var(--main-color);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: var(--btn-bd);
  border-radius: 30px;
  direction: rtl;
  font-size: var(--h2-sz);
}

h3 {
  font-size: var(--h3-sz);
}

.wrapper {
  padding-inline: var(--h1-sz);
}


// hero ---

.hero p {
  direction: ltr;
  max-width: 80%;
}

p {
  font-family: "DINdong";
  font-size: var(--p-sz);
  direction: rtl;
}

.main__nav_list {
  display: flex;
  //display: none;
  flex-direction: column;
  align-items: flex-start;
  &_item {
    font-family: "DINdong";
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-block-end: 0.5rem;
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    background-color: var(--main-color);
    &:hover {
      background-color: var(--bg-color);
      transition: all linear 200ms;
      a {
        color: var(--txt-color);
      }
    }
  }
}

.hero {
  display: flex;
  margin-block-start: 3rem;
  &__title {
    font-size: calc(var(--h1-sz) *3 /2);
    margin-block-end: 1rem;
    margin-block-start: 0;
    justify-self: flex-end;
  }
  &__contant {
    display: flex;
  }
  &__para {
    font-family: "Bricolage Grotesque", arial;
    font-size: calc(var(--h1-sz) /3 *2);
    margin-block: 0;
    padding-block: 0;
    max-width: 100%;
    &-second {
      display: none;
      max-width: 55%;
    }
  }
}

.hero__para p {
  font-family: "Bricolage Grotesque", arial;
}

// sections content h2 & p

.content_section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: end;
}

.content_section h2 {
  align-self: end;
}

.content_section p {
    width: 90%;
    align-self: end;
}

.title_btn_style {
  width: fit-content;
//   justify-self: end;
}

// grid scroll img picture

.scroll_grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll_grid_img {
  max-width: calc(744px /2);
  max-height: calc(438px /2);
  border-radius: 5px;
  scroll-snap-align: start;
}

// screens 

// illu
.scroll_grid_img_zines {
  max-width: 70%;
  scroll-snap-align: start;
  border-radius: 5px;
}

.scroll_grid_illu {
  scroll-snap-align: start;
  max-width: calc(744px /2);
  max-height: calc(438px /2);
  border-radius: 5px;
}

img.scroll_grid_illu {
  //min-width: 50%;
  border-radius: 10px;
}

// about me 

// contact
form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}

label {
  font-family: "DINdong";
  margin-block-start: 1rem;
}

input {
  background-color: #f2fd8f;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 0.5rem;
  border-radius: 5px;
  border: var(--btn-bd);
  font-family: "DINdong";
  font-size: 1rem;
  color: var(--txt-color);
  &:focus {
      background-color: var(--main-color);
  }
}

.submit {
  align-self: center;
  margin-block-start: 4rem;
}


@media screen and (min-width: 601px) {
  .main__nav_list {
    display: none;// ça qui ne marche pas, parce que l'opacité cible bien 
    //opacity: 0%;
  }
}