h1 {
  font-family: "DINdong";
  writing-mode: vertical-lr;
  direction: rtl;
  transform: rotate(180deg);
  //text-orientation: sideways-right;
  //padding-inline-end: var(--h2-sz);
  margin-block-start: 2rem;
  //margin-inline-end: 3.5rem;
  margin-inline: 0;
  padding-inline: 0;
  justify-self: end;
  font-size: var(--h1-sz);
}

.normal {
  margin-block-start: 4rem;
  writing-mode: horizontal-tb;
  transform: none;
}

h2, h3 {
  font-family: "Bricolage Grotesque";
  color: var(--txt-color);
}

h2 {
  background-color: var(--main-color);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: var(--btn-bd);
  border-radius: 30px;
  direction: rtl;
  font-size: var(--h2-sz);
}

h3 {
  font-size: var(--h3-sz);
}

.wrapper {
  padding-inline: var(--h1-sz);
}

.back {
  position: relative;
}

.fleche_back {
  position: absolute;
  left: -1rem;
  top: 0.7rem;
  border-radius: 200px;
  transform: rotate(-90deg);
  max-width: 30px;
  &:hover {
    background-color: var(--main-color);
  }
}
// hero ---

.hero p {
  direction: ltr;
  max-width: 80%;
}

p {
  font-family: "DINdong";
  font-size: var(--p-sz);
  direction: rtl;
}

span {
  text-decoration: underline;
}

.main__nav_list { //mobile nav
  display: flex;
  //display: none;
  flex-direction: column;
  align-items: flex-start;
  &_item {
    font-family: "DINdong";
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-block-end: 0.5rem;
    padding-block: 0.3rem;
    padding-inline: 0.8rem;
    border: 1px solid var(--txt-color);
    border-radius: 30px;
    //background-color: var(--main-color);
    &:hover {
      background-color: var(--bg-color);
      transition: all linear 200ms;
      a {
        color: var(--txt-color);
      }
    }
  }
}

.hero {
  display: flex;
  margin-block-start: 3rem;
  &__title {
    font-size: calc(var(--h1-sz) *3 /2);
    margin-block-end: 1rem;
    margin-block-start: 0;
    justify-self: flex-end;
  }
  &__contant {
    display: flex;
  }
  &__para {
    font-family: "Bricolage Grotesque", arial;
    font-size: calc(var(--h1-sz) /3 *2);
    margin-block: 0;
    padding-block: 0;
    max-width: 100%;
    &-second {
      display: none;
      max-width: 55%;
    }
  }
}

.hero__para p { //ne voulait pas cibler au-dessus quand nesting
  font-family: "Bricolage Grotesque", arial;
}

// sections content h2 & p

.content_section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: end;
}

.content_section h2 {
  align-self: end;
}

.content_section p {
    width: 90%;
    align-self: end;
}

.bold {
  font-family: "Bricolage Grotesque";
}

.title_btn_style {
  width: fit-content;
//   justify-self: end;
}

.only_mobile {
  display: block;
  //max-width: 100px; //ne fonctionne pas
}

img .only_mobile {
  max-width: 25%; //ne fonctionne pas 
}

// grid scroll img picture

.scroll_grid {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll_grid_img {
  max-width: calc(744px /2);
  max-height: calc(438px /2);
  border-radius: 5px;
  scroll-snap-align: start;
}

.scroll_grid_screens {
  max-width: calc(744px /4);
  border-radius: 10px;
  scroll-snap-align: start;
}

// screens 

// illu
.scroll_grid_img_zines {
  max-width: 70%;
  scroll-snap-align: start;
  border-radius: 5px;
}

.scroll_grid_illu {
  scroll-snap-align: start;
  max-width: calc(744px /2);
  max-height: calc(438px /2);
  border-radius: 5px;
}

img.scroll_grid_illu {
  //min-width: 50%;
  border-radius: 10px;
}

// about me 
/*.icons_img {
  //gérer les icones pour du scroll horiz ? non, déjà dans la classe scroll_grid en fait, tout va bien 
}*/
.icons_img { //revoir ces paramètres quand icones rajoutées 
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.scroll_grid_icon {
  scroll-snap-align: start;
  max-width: 20%;
  max-height: 20%;
  border-radius: 0;
  margin-block-start: 2rem;
}
// contact
form {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}

label {
  font-family: "DINdong";
  margin-block-start: 1rem;
}

input, textarea {
  background-color: #f2fd8f;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  margin-block: 0.5rem;
  border-radius: 5px;
  border: var(--btn-bd);
  font-family: "DINdong";
  font-size: 1rem;
  color: var(--txt-color);
  &:focus {
      background-color: var(--main-color);
  }
}

.submit {
  align-self: end;
  margin-block-start: 2rem;
  background-color: var(--main-color);
  color: var(--txt-color);
  &:hover {
    background-color: var(--txt-color);
    color: var(--pink-color);
  }
}

//media query tests 

@media screen and (max-width: 380px){
  .main__nav_list_item {
    font-size: 0.7rem;
    padding-block: 0.2rem;
    padding-inline: 0.6rem;
    margin-block-end: 0.3rem;
  }
  .hero {
    padding-block-end: 0;
  }
}

@media screen and (min-width: 600px) {
  .main__nav_list {
    display: none;
  }
  .hero__title {
    font-size: var(--h1-sz);
  }
  .hero__para-second {
    display: block; 
    font-size: 1.5rem;
  }
  .only_mobile {
    display: none;
  }
  h3 {
    font-size: 1rem;
  }
}



@media screen and (min-width: 850px) {
  //problème avec les illus qui ne scrollent plus en horizontal because justify-content flex-end ... trouver un autre moyen de mettre les éléments à droite de l'écran 
  p .hero__para {
    font-size: var(--h2-sz); //trop grand
  }

  .scroll_grid {
    justify-content:end;
    gap: 1rem;
  }
  .scroll_grid_img {
    //justify-self: end; ne marche pas
    max-width: calc(744px /3*2);
    max-height: calc(438px /3*2);
  }
  .scroll_grid_illus { // ne fonctionne pas 
    justify-content: start; //valeur par défaut ? vérifier !!!
  }

  .scroll_grid_illus img:first-child {
    margin-left: auto;
  }//ne fonctionne pas : souci de selecteur 
  .scroll_grid_illus img:last-child {
    margin-right: auto; //ne fonctionne pas : souci de selecteur 
  }

  .scroll_grid_screens {
    justify-content: start;
  }
  .scroll_grid_screens img:first-child {
    margin-left: auto;
  }
  .scroll_grid_screens img:last-child {
    margin-right: auto;
  }

.scroll_grid_illu {
  max-width: calc(744px /3*2);
  max-height: calc(438px /3*2);
}

  .scroll_grid_icon { 
    //justify-content: end; ne marche pas
    max-width: 10%;
    max-height: 10%;
    border-radius: 0;
  }
}


@media screen and (min-width: 1000px) {
  .hero__title {
    font-size: calc(var(--h1-sz)/7*6);
    padding-inline-start: 1rem;
    margin-block-end: 2rem;
  }

  p .hero__para {
    font-size: var(--h3-sz);
  }
  .content_section p {
    width: 70%;
    align-self: end;
}
}

//changer les images de screens ux ui dans index.html et media query quand au-dessus de 850 px allongés 