*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

section {
  padding-block-end: 3rem;
}

h2 {
  background-color: var(--main-color);
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: var(--btn-bd);
  border-radius: 30px;
}