*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  //width: 100vh;
  height: 100dvh;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

section {
  padding-block-end: 3rem;
}

