:root {
  --bg-color: #FDFFED;
  --txt-color: #171616;
  --main-color: #E6FF00;
  --pink-color: #FF00A2;
    
  --h1-sz: 7vw;
  --h2-sz: 4vw;
  --h3-sz: 5vw;
  --p-sz: 5vw;
    
  --btn-pd: calc(var(--h3-sz) *2) var(--h2-sz); //vérifier valeurs padding
  --btn-rad: calc(var(--h2--sz) /10); //vérifier valeurs
  --btn-bd: 1px solid var(--txt-color);
  --btn-bdactivated: 1.5px solid var(--pink-color);
  }