@font-face {
  font-family: "DINdong";
  src:
    local("DINdong"),
    url("dist/webfonts/DINdong.ttf") format("ttf");
}


@font-face {
  font-family: "Bricolage Grotesque";
  src:
    local("Bricolage Grotesque"),
    url("dist/webfonts/BricolageGrotesque_ExtraBold.ttf") format("ttf");
}

